html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

#navbar {
    padding: 0px;
}

.spacing {
    margin-top: 15px;
}

#matchScoring, #matchTable {margin: 0; height: 100%; overflow: hidden}

#matchTable {display: none;}

#analysisPreview {display: none;}
